extends layout

block content
	// Main Navbar
	nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.container
		a.navbar-brand(href='index') LAB 4

		div.collapse.navbar-collapse(id='navbarSupportedContent')
			ul.navbar-nav.mr.auto
				li.nav-item
					a.nav-link(href='view') View Employees
				li.nav-item
					a.nav-link(href='https://github.com/naricci/SE373') GitHub

	// Main Content Area
	div.container(id='mainContent')
		h1=title
		p=removed
		if results.length
			table.table.table-light(border='1')
				thead   
					tr
						th First Name
						th Last Name
						th Department
						th Start Date
						th Job Title
						th Salary
						th
						th
				tbody
					each result in results
						tr
							td=result.firstName
							td=result.lastName
							td=result.department
							td=result.startDate
							td=result.jobTitle
							td=result.salary
							td: a(href='../update/'+result._id) Update
							td: a(href='../delete/'+result._id) Delete
		else
			p No results found